[Desktop Entry]
Name=Files
Comment=Browse the file system
Exec=pcmanfm
Icon=system-file-manager
Terminal=false
Type=Application
Categories=System;FileManager; 